// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.list {
      border: #2D0F09 1px solid;
      border-collapse: collapse;
      width: 100%;	
} 
table.list th {
      border: #A84673 1px dashed;
      background-color: #35140C;
      text-align: left;
      padding: 10px;
      font: bold;
      color:#FFFFFF;
}

table.list td {
     border: #A84673 1px dashed;
     background-color: #FFFFFF;
     vertical-align: top;
     text-align: left;
     padding: 10px;
     color:#000000;
}